{% extends 'base.html' %}
{% load static %}

{% block headers %} 
<link rel="stylesheet" href="{% static 'css/canvas_post_style.css' %}"> 
<link rel="stylesheet" href="{% static 'css/home_style.css' %}"> 
{% endblock headers %}

{% block content %}


<div class="center-buttons">
    <div class="sorting-buttons">
        <div class="sorting-div">
            <img class="sorting-pic-popular" src="{% static 'images/popular.webp' %}">
            <a class="sorting" href="{% url 'home' %}">Popular</a>
        </div>
        <div class="sorting-div">
            <img class="sorting-pic-new" src="{% static 'images/new.webp' %}">
            <a class="sorting" href="{% url 'home-new' %}">New</a>
        </div>
    </div>
</div>

<div class="center-posts">
    <div class="all-posts">
        {% for post in posts %}
            {% include 'posts/templates/post.html' %}
        {% endfor %}
    </div>
</div>

{% endblock %}