{% load static %}
{% load templatetags %}


<div class="whole-post">

    <a href="{% url 'post-details' post.id %}"><div class="drawing-border"><img class="drawing" src='{{post.drawing.url}}' alt="drawing"></div></a>

    <div class="post-info">
        <a class="text" href="{% url 'show profile' post.user %}">
            <div class="artist">
                <img class="drawing-pfp" src="{% if post.user.userprofile.profile_pic %}
                {{ post.user.userprofile.profile_pic.url }}
                {% else %}
                {% static 'images/bomu-no-pfp-2.webp' %}
                {% endif %}" alt="pfp">
                <div class="user-name3">{{post.user}}</div>
            </div>
        </a>
        <div class="likes-box">
            <p class="text">{{ post.canvaslike_set.count }}</p>
            <a href="{% url 'post-like' post.id %}">
                <img class="likes" src="{% if post|liked_by:request.user %}
                                        {% static 'images/liked.webp' %}
                                        {% else %}
                                        {% static 'images/not-liked.webp' %}
                                        {% endif %}" alt="likes"></a>
        </div>
    </div>
</div>
