{% extends 'base.html' %}
{% load static %}
{% load templatetags %}

{% block headers %}
<link rel="stylesheet" href="{% static 'css/canvas_post_details_style.css' %}">
{% endblock headers %}

{% block content %}
<div class="page">
    <div class="center-post">

        <div class="whole-post">

                    {% if post.user == request.user or request.user.is_staff or request.user.is_superuser %}
            <div class="settings-div">
                {% if request.user.is_staff or request.user.is_superuser%}
                    <div class="likes-box">
                        <p class="text">{{ post.canvassuperlike_set.count }}</p>
                        <a href="{% url 'post-superlike' post.id %}">
                        <img class="superlikes" src="{% if post|superliked_by:request.user %}
                                                {% static 'images/liked.webp' %}
                                                {% else %}
                                                {% static 'images/not-liked.webp' %}
                                                {% endif %}" alt="superlikes"></a>
                    </div>
                {% endif %}
                <a href="{% url 'post-edit' post.id %}"><img class="settings" src="{% static 'images/settings.webp' %}" alt="Settings"></a>
            </div>
        {% endif %}

            <img class="drawing" src='{{post.drawing.url}}' alt="drawing">

            <div class="post-info">
                <a class="text" href="{% url 'show profile' post.user %}">
                    <div class="artist">
                        <img class="drawing-pfp" src="{% if post.user.userprofile.profile_pic %}
                        {{ post.user.userprofile.profile_pic.url }}
                        {% else %}
                        {% static 'images/bomu-no-pfp-2.webp' %}
                        {% endif %}" alt="pfp">
                        <div class="user-name3">{{post.user}}</div>
                    </div>
                </a>
                <div class="likes-box">
                    <p class="text">{{ post.canvaslike_set.count }}</p>
                    <a {% if post.canvassuperlike_set.count != 0 %}title="superliked by admin"{% endif %} href="{% url 'post-like' post.id %}">
                    {% if request.user.is_authenticated %}
                    <img 
                    {% if post.canvassuperlike_set.count == 0 %}
                        class="likes"
                    {% else %}
                        class="superlikes"
                    {% endif %} 
                    src="{% if post|liked_by:request.user %}
                                            {% static 'images/liked.webp' %}
                                            {% else %}
                                            {% static 'images/not-liked.webp' %}
                                            {% endif %}" alt="likes">
                    {% else %}
                    <img 
                    {% if post.canvassuperlike_set.count == 0 %}
                        class="likes"
                    {% else %}
                        class="superlikes"
                    {% endif %} src="{% static 'images/not-liked.webp' %}" alt="likes">
                    {% endif %}</a>
                </div>
            </div>
        
            <div class="bio">{{post.description}}</div>

        </div>

    </div>

    <div class="comment-form">

        <div class="comment-info">Comments ({{post.canvascomment_set.count}})</div>
        
        {% if request.user.is_authenticated %}
        <div class="form-div">
            <form method="POST">

                {% csrf_token %}
                {{ form.comment }}

                <div class="form-button">
                    <button class="edit-button" type="submit">Comment</button>
                </div>

            </form>
        </div>
        {% endif %}

    </div>

    <div class="comments">

        <div class="comment">
            {% for comment in comments %}
                <a class="text" href="{% url 'show profile' comment.user %}">
                    <div class="artist">
                        <img class="drawing-pfp" src="{% if comment.user.userprofile.profile_pic %}
                        {{ comment.user.userprofile.profile_pic.url }}
                        {% else %}
                        {% static 'images/bomu-no-pfp-2.webp' %}
                        {% endif %}" alt="pfp">
                        <div class="user-name3">{{comment.user.userprofile.nickname}}</div>
                    </div>
                </a>
                <div class="comment-text">{{comment.comment}}</div>
            {% endfor %}
        </div>

    </div>

</div>
{% endblock %}