@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

#canvas {
    cursor: crosshair;
    border-radius: 0.2em;
}

button {
    cursor: pointer;
    width: 4vh;
    height: 4vh;
    border-radius: 0.3em;
    border: 0.16em solid #673e4a;
    transition: border 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s;
}

button:hover {
    border: 0.16em solid white;
}


#guide {
    display: grid;
    pointer-events: none;
    background-color: transparent;
}

#guide > div {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
}

#post-canvas {
    font-size: 100%;
    cursor: pointer;
    border-radius: 3em;
    padding: .5em 1em;
    border: 0.10em solid white;
    background-color: #f3c6d4;
    transition: background-color 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s;
    color: white;
}

#post-canvas:hover {
    background-color: #fafafa;
    border: 0.10em solid #d9b8c2;
    color: #d9b8c2;
}

.guide-and-canvas {
    width: min-content;
    display: grid;
    border: 0.10em solid #673e4a;
    border-radius: 0.3em;
}

.guide-and-canvas > * {
    grid-column: 1;
    grid-row: 1;
}

.toggle-and-post {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.whole-canvas > *{
    margin: 1vh;
}

.whole-canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

label {
    font-family: Sono;
    color: #e4adbe;
}

input[type="checkbox"] {
    accent-color: #e4adbe;
    transform: scale(1.2);
}

#color1 {
    background-color: #ffffff;
}

#color2 {
    background-color: #a0e0d2;
}

#color3 {
    background-color: #99ccd1;
}

#color4 {
    background-color: #9aacc4;
}

#color5 {
    background-color: #8e94b4;
}

#color6 {
    background-color: #878bbb;
}

#color7 {
    background-color: #71639c;
}

#color8 {
    background-color: #e382af;
}

#color9 {
    background-color: #fb9faa;
}

#color10 {
    background-color: #ffc2ad;
}

#color11 {
    background-color: #e4adbe;
}

#color12 {
    background-color: #673e4a;
}
