@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

.whole-post {
    background-color: white;
    padding: 2vh;
    border: 0.145em solid #d9b8c2;
    border-radius: 0.6em;
    width: min-content;
    height: min-content;
    margin: 2vh;
    box-shadow: 4px 5px 5px 2px  #e8b9c84c;
}

.drawing {
    width: 8.8em;
    border-radius: 0.3em;
}

.drawing-border {
    width: 9em;
    height: 9em;
    background-color: #9c6f7d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vh;
    border-radius: 0.4em;
}

.post-info {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 1vh;
}

.post-info *{
    background-color: white;
}

.artist {
    display: flex;
    align-items: center;
}

.likes-box {
    display: flex;
    align-items: center;
}

.drawing-pfp {
    width: 3.8vh;
    height: 3.8vh;
    border-radius: 2em;
    margin-right: 0.6vh;
}

.text {
    font-family: Sono;
    color: #9c6f7d;
    font-size: 1em;
    text-decoration: none;
}

.likes {
    height: 2.6vh;
    margin-left: 0.6vh;
}

.superlikes {
    height: 2.6vh;
    margin-left: 0.6vh;
    filter: hue-rotate(-120deg);
}

.user-name3 {
    width: 7ch;
    overflow: hidden;
    text-overflow: ellipsis;
}
