#canvas {
    cursor: crosshair;
}

button {
    cursor: pointer;
    width: 4vh;
    height: 4vh;
    border-radius: 0.3em;
    border: none;
}

#guide {
    display: grid;
    pointer-events: none;
    background-color: transparent;
}

#guide > div {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
}

#post-canvas {
    background-color: #e4adbe;
    border-radius: 2em;
}

.guide-and-canvas {
    width: min-content;
    display: grid;
    border: 0.10em solid #673e4a;
    border-radius: 0.3em;
}

.guide-and-canvas > * {
    grid-column: 1;
    grid-row: 1;
}

.whole-canvas > *{
    margin: 1vh;
}

.whole-canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#color1 {
    background-color: #ffffff;
}

#color2 {
    background-color: #a0e0d2;
}

#color3 {
    background-color: #99ccd1;
}

#color4 {
    background-color: #9aacc4;
}

#color5 {
    background-color: #8e94b4;
}

#color6 {
    background-color: #878bbb;
}

#color7 {
    background-color: #71639c;
}

#color8 {
    background-color: #e382af;
}

#color9 {
    background-color: #fb9faa;
}

#color10 {
    background-color: #ffc2ad;
}

#color11 {
    background-color: #e4adbe;
}

#color12 {
    background-color: #673e4a;
}
