@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth > img {
    height: 75vh;
    background-color: transparent;
    margin: 5vh;
}

button {
    font-size: 100%;
    cursor: pointer;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 3em;
    padding: .5em 1em;
    border: 0.10em solid white;
    background-color: #f3c6d4;
    transition: background-color 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s;
    color: white;
}

button:hover {
    background-color: #fafafa;
    border: 0.10em solid #d9b8c2;
    color: #d9b8c2;
}

form {
    font-family: Sono, sans-serif;
    color: #d9b8c2;
    background-color: white;
}

.form_div {
    width: min-content;
    background-color: white;
    border: 0.145em solid #d9b8c2;
    padding-top: 2em;
    padding-bottom: 3.5em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 1em;
    box-shadow: 10px 10px 6px 3px  #f3c6d44c;
    margin-top: 3vh;
    margin-bottom: 6vh;
    text-align: center;
}

input {
    border: 0.145em solid #d9b8c2;
    padding: 1%;
    color: #cd9baa;
    font-family: Sono, sans-serif;
    transition: background-color 0.3s ease-in-out 0s;
    height: 2.5em;
    border-radius: 0.5em;
    text-align: center;
    width: 30vh;
}

input:focus {
    outline: none;
    background-color: #fff7fa;
}

.form_p {
    background-color: white;
    margin-bottom: 0.3em;
    color: #cd9baa;
}

.form_option {
    margin: 1em;
    background-color: white;
}

p {
    background-color: white;
}

.error_message {
    width: 100%;
    color: #d26989;
    font-family: Sono, sans-serif;
    background-color: white;
    display: none;
    text-align: center;
}

.form_error {
    width: 100%;
    color: #d26989;
    font-family: Sono, sans-serif;
    background-color: white;
    text-align: center;
}

.error_message:first-of-type {
    display: block;
}

.form_button {
    width: 100%;
    text-align: center;
    background-color: white;
}

.profile_pic {
    width: 1vh;
}

textarea {
    border: 0.145em solid #d9b8c2;
    padding: 1%;
    color: #cd9baa;
    font-family: Sono, sans-serif;
    transition: background-color 0.3s ease-in-out 0s;
    height: 10em;
    width: 30vh;
    border-radius: 0.5em;
    resize: none;
}

textarea:focus {
    outline: none;
    background-color: #fff7fa;
}

.image_form {
    background-color: white;
    display: flex;
    justify-content: center;
}

.image_form > p > .checkbox {
    width: 1vh;
}

.profile_buttons {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-left: 1em;
    padding-right: 1em;
}

.edit-post-buttons {
    display: flex;
    justify-content: center;
    background-color: white;
    padding-left: 1em;
    padding-right: 1em;
}

.button {
    font-size: 80%;
    cursor: pointer;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 3em;
    padding: 0.5em 1em;
    border: 0.11em solid white;
    background-color: #d55a81;
    transition: background-color 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s;
    color: white;
    font-family: "Sono", sans-serif;
    text-decoration: none;
}

.button:hover {
    background-color: #fafafa;
    border: 0.10em solid #d2879d;
    color: #d2879d;
}

.edit_button {
    width: 30vh;
}

.image_form_p {
    font-size: 0;
}

.image_form_p > input[type="checkbox" i] {
    width: 3vh;
}

/* .image_form_p input[type="file"] {
    display: none;
}

.image_form_p label:first-of-type {
    font-size: 1rem;
} */

.note {
    background-color: white;
    font-size: 1.6vh;
}

.drawing {
    width: 30vh;
    border-radius: 0.6em;
    border: 0.145em solid #d9b8c2;
}

#hide {
    display:none;
}

.post-del-button {
    font-size: 80%;
    cursor: pointer;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 3em;
    padding: 0.5em 1em;
    border: 0.11em solid white;
    background-color: #d55a81;
    transition: background-color 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s;
    color: white;
    font-family: "Sono", sans-serif;
    text-decoration: none;
}

.post-del-button:hover {
    background-color: #fafafa;
    border: 0.10em solid #d2879d;
    color: #d2879d;
}

.profile-picture-form {
    display: none; 
}

#profile-picture-image {
    width: 100%;
    aspect-ratio: 1;
    cursor: pointer;

}

.style-profile-pic {
    width: 80%;
    aspect-ratio: 1;
    border-radius: 100em;
    border: 0.10em solid #cd9baa;
    overflow: hidden;
    margin: 0;
}


@media (pointer:none), (pointer:coarse) {
    .auth > img {
        display: none;
    }

    .auth {
        width: 115vw;
    }

    .form_div {
        width: 100vw;
        font-size: 3em;
        border: 0.1em solid #d9b8c2;
    }

    input {
        width: 60vw;
        font-size: 0.8em;
    }

    textarea {
        width: 60vw;
        font-size: 0.8em;
    }

    input[type="file" i] {
        font-size: 2vh;
    }
}