.all-posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 800px) {
    .all-posts {
        grid-template-columns: repeat(1, 1fr);
    }
  }

.center-posts {
    width: 100%;
    display: flex;
    justify-content: center;
}
