@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

.profile_pfp {
    border-radius: 100em;
    width: 20vh;
    height: 20vh;
    margin-right: 5vh;
    border: 0.10em solid #673e4a;
}

.settings {
    height: 3.8vh;
    margin-left: 1vh;
    margin-bottom: 0;
}

.whole_profile {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 54vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_info {
    font-family: "Sono", sans-serif;
}

.top_info {
    align-items: center;
    color: #673e4a;
    font-size: 3vh;
    display: inline-flex;
    margin-bottom: 3vh;
}

.user-name {
    color: #b38f9a;
    max-width: 12ch;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

.user-name2 {
    color: #b38f9a;
    max-width: 10ch;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bio {
    width: 45vh;
    height: 10vh;
    color: #b38f9a;
    overflow-wrap: break-word;
}

.no-posts {
    width: 50vw;
    border-top: 0.3vh solid #d7bbc3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Sono, sans-serif;
    font-size: 2em;
    color: #d7bbc3;
    padding-top: 6vh;
}

.no-posts > * {
    margin: 2vh;
}

.no-posts-pic {
    height: 20vh;
}

@media (pointer:none), (pointer:coarse) {
    .profile_pfp {
        width: 18vh;
        height: 18vh;
        margin-right: 3vh;
        border: 0.2em solid #673e4a;
    }
    
    .whole_profile {
        width: 115vw;
    }

    .bio {
        font-size: 200%;
        width: 30vh;
    }

    .user-name {
        color: #b38f9a;
        max-width: 10ch;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
    }
    
    .user-name2 {
        color: #b38f9a;
        max-width: 8ch;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
