{% extends 'base.html' %}
{% load static %}

{% block headers %} 
<link rel="stylesheet" href="{% static 'css/form_style.css' %}">
<script src="{% static 'js/edit-profile.js' %}" defer></script>
{% endblock headers %}

{% block content %}
<div class="auth">

    <div class="form_div">
    <form method="post" enctype="multipart/form-data">
        <div class="form_option">
            <div class="image_form">
                <p class="image_form_p">
                    <div class="style-profile-pic">
                        <label for="id_profile_pic">
                            {% if user.userprofile.profile_pic %}
                                <img id="profile-picture-image" src="{{user.userprofile.profile_pic.url}}">
                            {% else %}
                                <img id="profile-picture-image" src="{% static 'images/bomu-no-pfp-2.webp' %}">
                            {% endif %}
                        </label>
                    </div>
                    <div class="profile-picture-form">{% csrf_token %}{{profile_form.profile_pic}}</div>
                </p>
            </div>
        </div>
        <div class="form_option">
            <p class="form_p">Nickname:</p>
            <p>{% csrf_token %}{{profile_form.nickname}}</p>
        </div>
        <div class="form_option">
            <p class="form_p">Bio:</p>
            <p>{% csrf_token %}{{profile_form.bio}}</p>
        </div>

        <div class="form_button">
            <button class="edit_button" type="submit">Save</button>
        </div>

    </form>

    <div class="profile_buttons">
        <div><a class="button" href="{% url 'logout' %}">Log out</a></div>
        <div><a class="button" id="confirm-button" href="{% url 'delete profile' cur_user %}" onclick="return confirm('Are you sure?')">Delete</a></div>
    </div>

    <div class="error_message">
        {% for message in messages %}
            <p id="message">{{ message }}</p>
        {% endfor %}
        </div>

    </div>
</div>

{% endblock %}
