{% extends 'base.html' %}
{% load static %}

{% block headers %}
<link rel="stylesheet" href="{% static 'css/profile_style.css' %}">
<link rel="stylesheet" href="{% static 'css/canvas_post_style.css' %}"> 
<link rel="stylesheet" href="{% static 'css/home_style.css' %}">
{% endblock headers %}

{% block content %}

    <div class="whole_profile">
        <div class="profile">
            <img class="profile_pfp" src="
            {% if cur_profile.userprofile.profile_pic %}
                {{ cur_profile.userprofile.profile_pic.url }}
            {% else %}
                {% static 'images/bomu-no-pfp-2.webp' %}
            {% endif %}" alt="profile picture"></a>

            <div class="profile_info">
                <div class="top_info">
                    <div class="user-name"><strong>{% if cur_profile.userprofile.nickname %}
                        {{ cur_profile.userprofile.nickname }}
                    {% else %}
                        {{ cur_profile }}
                    {% endif %}</strong></div>

                    <div class="user-name2">(@{{ cur_profile }})</div>

                    {% if cur_profile == user or request.user.is_staff or request.user.is_superuser %}
                    <a href="{% url 'edit profile' cur_profile %}"><img class="settings" src="{% static 'images/settings.webp' %}" alt="Settings"></a>
                    {% endif %}
                </div>

                <div class="bio">
                {% if cur_profile.userprofile.bio %}
                    <strong>{{ cur_profile.userprofile.bio }}</strong>
                {% endif %}
            </div>
            </div>
        </div>
    </div>

    <div class="center-posts">
        <div class="all-posts">
            {% for post in posts %}
                {% include 'posts/templates/post.html' %}
            {% endfor %}
        </div>
    </div>

{% endblock %}