{% extends 'base.html' %}
{% load static %}

{% block headers %} 
<link rel="stylesheet" href="{% static 'css/canvas_style.css' %}"> 
<script src="{% static 'js/canvas.js' %}" defer></script>
{% endblock headers %}

{% block content %}
    <div class="whole-canvas">
        <div>
            <a id="post-canvas" href="#">Post</a>
        </div>
        <div class="guide-and-canvas">
            <canvas width="512" height="512" id="canvas"></canvas>
            <div id="guide"></div>
        </div>
        <div class="colors">
            <button id="color1"></button>
            <button id="color2"></button>
            <button id="color3"></button>
            <button id="color4"></button>
            <button id="color5"></button>
            <button id="color6"></button>
            <button id="color7"></button>
            <button id="color8"></button>
            <button id="color9"></button>
            <button id="color10"></button>
            <button id="color11"></button>
            <button id="color12"></button>
        </div>
        <div>
            <label for="toggleGuide">Guide </label>
            <input type="checkbox" id="toggleGuide" checked>
        </div>
    </div>
{% endblock %}
