{% load static %}

<div class="palette">
    <div class="title">
        {{palette.title}}
        <div class="palette-buttons">
            <a href="#"><img class="button-palette" src="{% static 'images/edit.webp' %}" alt="edit palette"></a>
            <a href="#" onclick="return confirm('Are you sure?')"><img class="button-palette" src="{% static 'images/delete.webp' %}" alt="delete palette"></a>
        </div>
    </div>

    <div class="colors">
        <button title="{{palette.c1}}" id="color1"></button>
        <button title="{{palette.c2}}" id="color2"></button>
        <button title="{{palette.c3}}" id="color3"></button>
        <button title="{{palette.c4}}" id="color4"></button>
        <button title="{{palette.c5}}" id="color5"></button>
        <button title="{{palette.c6}}" id="color6"></button>
        <button title="{{palette.c7}}" id="color7"></button>
        <button title="{{palette.c8}}" id="color8"></button>
        <button title="{{palette.c9}}" id="color9"></button>
        <button title="{{palette.c10}}" id="color10"></button>
        <button title="{{palette.c11}}" id="color11"></button>
        <button title="{{palette.c12}}" id="color12"></button>
    </div>
</div>