{% load static %}

<div class="palette">
    <div class="title">
        {{palette.title}}
        <div class="palette-buttons">
            <a href="{% url 'edit palette' palette.id %}"><img class="button-palette" src="{% static 'images/edit.webp' %}" alt="edit palette"></a>
            {% if request.user.is_superuser %}
                <a href="{% url 'delete palette' palette.id %}" onclick="return confirm('Are you sure?')"><img class="button-palette" src="{% static 'images/delete.webp' %}" alt="delete palette"></a>
            {% endif %}
        </div>
    </div>

    <div class="colors">
        <button title="{{palette.c1}}" class="color"></button>
        <button title="{{palette.c2}}" class="color"></button>
        <button title="{{palette.c3}}" class="color"></button>
        <button title="{{palette.c4}}" class="color"></button>
        <button title="{{palette.c5}}" class="color"></button>
        <button title="{{palette.c6}}" class="color"></button>
        <button title="{{palette.c7}}" class="color"></button>
        <button title="{{palette.c8}}" class="color"></button>
        <button title="{{palette.c9}}" class="color"></button>
        <button title="{{palette.c10}}" class="color"></button>
        <button title="{{palette.c11}}" class="color"></button>
        <button title="{{palette.c12}}" class="color"></button>
    </div>
</div>