{% extends 'base.html' %}
{% load static %}

{% block headers %}
<link rel="stylesheet" href="{% static 'css/form_style.css' %}">
<script src="{% static 'js/canvas-post.js' %}" defer></script>
{% endblock headers %}

{% block content %}

<div class="auth">
    <div class="form_div">
        <img class='drawing' id="drawing_preview" src="{% static 'images/no_drawing.png' %}" alt="drawing">
        
    <form method="post" enctype="multipart/form-data">

        <div id="hide">{% csrf_token %}{{form.drawing}}<a id="redirect" href="{% url 'canvas' %}"></a></div>

        <div class="form_option">
            <p class="form_p">Description:</p>
            <p>{% csrf_token %}{{form.description}}</p>
        </div>

        <div class="form_button" id="post-canvas">
            {% csrf_token %}<button type="submit">Post</button>
        </div>

    </form>
    </div>
</div>

{% endblock %}
